body{
    
    background-color: #9999ff;
}
form {
    width:260px;
    margin:10px auto;
}
input, textarea {
    display:block;
    width:250px;
    padding:5px;
    margin:2px
}
input[type=submit] {
    width:264px;
}
textarea {
    width:252px;
    resize:vertical;
}
h1{
    text-align: center;
}